POSTGRES_DB=proj07_sql_db
POSTGRES_USER=proj07_user
POSTGRES_PASSWORD=proj07
POSTGRES_PORT=5432
POSTGRES_DATA_DIR=/mnt/block/postgres-data
ADMINER_PORT=5050
RCLONE_REMOTE=rclone_s3
BUCKET=objstore-proj07
JITSI_BUILD_STAGE1_AFTER_INGEST=false
DB_TASK_POLL_INTERVAL_SECONDS=5
DB_TASK_FULL_SCAN_INTERVAL_SECONDS=300
DB_TASK_BATCH_SIZE=25
DB_TASK_FULL_SCAN_LIMIT=0
DB_TASK_FAILURE_COOLDOWN_SECONDS=60
DB_TASK_STAGE1_ENABLED=true
STAGE1_WINDOW_SIZE=7
STAGE1_TRANSITION_INDEX=3
STAGE1_MIN_UTTERANCE_CHARS=1
STAGE1_MAX_WORDS_PER_UTTERANCE=50
STAGE1_UPLOAD_ARTIFACTS=true
STAGE1_OBJECT_PREFIX=production/inference_requests/stage1
STAGE1_ARTIFACT_VERSION=1
STAGE1_BUILD_TIMEOUT_SECONDS=300
