PYTHON_BIN=python3

RCLONE_REMOTE=rclone_s3
OBJECT_BUCKET=objstore-proj07
AMI_OBJECT_PREFIX=ami_public_manual_1.6.2

DB_CONTAINER=postgres
DB_USER=proj07_user
DB_NAME=proj07_sql_db

BLOCK_ROOT=/mnt/block
RAW_ROOT=/mnt/block/staging/current_job/raw
PROCESSED_ROOT=/mnt/block/staging/current_job/processed
INGEST_LOG_ROOT=/mnt/block/ingest_logs

STAGE1_ROOT=/mnt/block/roberta_stage1
STAGE1_V1_ROOT=/mnt/block/roberta_stage1/v1
STAGE1_V2_ROOT=/mnt/block/roberta_stage1/v2

DATASET_VERSION=1
DEFAULT_AMI_MEETINGS="ES2002a ES2002b ES2003a ES2004a ES2005a ES2006a ES2007a ES2008a"

# If you keep the SQL file inside this runtime bundle, this default works directly.
BASE_SCHEMA_SQL=./001_init_postgres_schema.sql
